RewriteEngine on

Header set Access-Control-Allow-Origin 'http://127.0.0.1:5173'
Header always set Access-Control-Allow-Methods "POST, GET, DELETE, PUT"
Header always set Access-Control-Allow-Headers "*"
